/*common shared style*/
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  /*this color is used multiple time in the same site, so considering it the site's primary text color*/
  color: #fd6e0a;
}

.btn-primary {
  /*this color is used multiple time in the same site, so considering it the site's primary button color*/
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
}

.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    /* max-width: 827px; */
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

/*header related styles*/
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;    /* y axis position first, x axis position then*/
}

.banner{
    padding: 30px 30px 0px 150px;
    display:flex;                       /*image next line theke pashe anlam*/
    align-items: center;                /*vertical align*/
    justify-content: space-between;     /*banner content ar image taar moddhe space between dilam*/
}

.ProfilePicture{
    width: 584px;
    
}

.banner-greeting
{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom:5px;
}

.banner-heading{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.banner-desc{
    font-size: 18px;
    font-weight: 400;
    color:#757575;
    margin-top: 0px;
    margin-bottom: 30px;
}

.banner-content{
    max-width: 585px;
}

/*nav related styles*/
nav {
  display: flex; /*header ar li same line e chole ashe*/
  justify-content: space-between;     /*h3 ar ul element gulake dure soray dilo*/ 
  align-items: center;    /* vertically alligned chilo na er aage (h3 ar ul)allign holo. Not items inside ul. Oita alada kore kora lagbe*/
  margin: 0 200px;
}

nav ul {
  display: flex; /*makes all li's to come inLine*/
  align-items: center;   /*vertically aligned chilo na ul er item gula*/

}

nav li {
  margin-right: 50px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #474747;
}

.site-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

/*main section styles */

/*about section styles */
.about{
    padding:130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;

}